HEAD:client/css/style.css
/*reset css*/
/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/*the style of mainpage*/
/* lato-regular - latin-ext_latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/lato-v16-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin-ext_latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
         url('../fonts/lato-v16-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin-ext_latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
         url('../fonts/lato-v16-latin-ext_latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-ext_latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /*paddings within elements*/
  html{
       box-sizing: border-box;
  }
  *, *::before, *::after{
       box-sizing: inherit;
  }

  body{
       font-family: 'Lato';
       font-style: normal;
       /*font-size: 16;*/
       line-height: 1.2;
       font-weight: normal;
       color: #000000;;
       background: #E5E5E5;
       overflow: hidden;
  }

  .wrapper{
     max-width: 900px; /*max width for blocks to follow*/
     margin: 0 auto;
     padding-top: 70px;
}
/*main page with all components*/
  .intro{
     height: 100vh;
     background: url(../img/bg_image_corns.png) no-repeat right;
     /*background: url(../img/svg/background_image.svg) no-repeat right;*/
     /*background-color: #F7F7F7;*/
     background-color: fffff;
     background-size: contain; 
  }
/*start of login page style*/
  .intro__title{
     font-style: bold;
     font-weight: 900;
     font-size: 25px;
     line-height: 42px;
     color: #141414;
     margin-bottom: 22px;
  }
  .intro__image{
       display: block;
       margin-left: -58px;
       width: 412.45px;
       height: 98.29px;
       margin-bottom: 20px;
  }
  .intro__subtitle{
     font-size: 14px;
     line-height: 20px;
     max-width: 445px;
     margin-bottom: 10px;     
  }
  .intro__subtitle2{
     font-size: 14px;
     line-height: 20px;
     max-width: 445px;
     margin-bottom: 25px;
  }
  .intro__subtitle3{
     font-weight: 900;
     font-size: 12px;
     line-height: 15px;
     text-align: center;
     letter-spacing: 0.2px;
     color: #149B5F;
  }
/*end of left side of login page style*/
.authosization{
     display: flex;
     flex-direction: row;
     margin: 0 auto; 
}

.authorization__right{   
     margin-top: 30px;
     margin-left: 100px;
}
.auth__form-text{
     font-size: 20px;
     line-height: 24px;
}
.authosization__form{
     height: 100%;
     width: 100%;
     margin: 0 auto;
     float: left;
     overflow: hidden;
}
/*style for input div*/
.auth__form-group{
     padding: 10px 0 10px 0;
}
/*style for button+passforgot*/
.auth__form-group-button{
     display: flex;
     flex-direction: row;
     text-align: center;
     margin: 30px auto;
}
/*забыли пароль style*/
.auth__form-passforgot{
     font-size: 13px;
     line-height: 18px;
     text-align: center;
     color: #000000;
}

/*для табов- сделать филл*/

/*
.container - all
.tabs - links
.content - form*/
.auth_right-tabs{
     width: auto;
     height: 55px;
     display: flex;
     flex-direction: row;
}
.auth_right-tabs-content{
     background-color: #F7F7F7;
     width: 385px;
     height: 410px;
     padding: 40px 30px 80px 80px;
     border: none;
     cursor: pointer;
}

/* STYLING OF REGISTRATION FORM*/
.container {  
     
     margin: auto;
     border: none;
 }
 
 /* Style the tabs */
 .tabs {
     height: 100%;
     width: 358px;
     overflow: hidden;
     margin-bottom: -2px; /* hide bottom border*/
 }
  
 .tabs ul {
     list-style-type: none;
     /*margin-left: 20px;*/
 }
 
 .tabs a{
     float: left;
     outline: none;
     cursor: pointer;
     padding: 12px 24px;
     transition: background-color 0.2s;
     background-color: #f1f1f1;
     border-radius: 10px 10px 0px 0px;
     font-weight: bold;
     text-decoration: none;
     color: #000000;
 }
 .tabs a:last-child { 
     /*border-right: 1px solid #ccc;*/
     margin: auto;
 }
 
 /* Change background color of tabs on hover */
 .tabs a:hover {
     background-color: #FBFBFB;
     text-decoration: none;
 }
 
 /* Styling for active tab */
 .tabs a.active {
     background-color: #F7F7F7;
     text-decoration: none;
     cursor: default;
     color: #149B5F;
     outline: none;
 }
 
 /* Style the tab content */
 .tabcontent {
     background-color: #F7F7F7;
     width: 358px;
     height: 410px;
     padding: 30px;
     box-shadow: 0px 36px 44px rgba(0, 0, 0, 0.1);
     border-radius: 0px 0px 10px 10px;
     vertical-align: center;  
 }
/*tab text for labels (tel,email) style*/
.tabcontent-text{
     color: #A9A9A9;
     font-size: 12px;
     line-height: 15px;
}
/*for inputs (email,pass etc) style*/
.tabcontent-input{
     border: none; 
     outline: none;
     border-bottom:solid #8A8A8A 1px;
     width: 100%;
     background-color: #F7F7F7;
}
/*for p-elements (auth/reg) style*/
.tabcontent-p-text{
     margin-bottom: 35px;
     color: #000000;
     font-size: larger;
     font-weight: bold;
}
/*for buttons in form style*/
.tabcontent-button{
     margin-right: 15px;
     background: #149B5F;
     outline: none; border: none;
     border-radius: 45px;
     width: 130px;
     height: 50px;
     font-size: 12px;
     line-height: 14px;
     text-align: center;
     color: #FFFFFF;
}
/*style for text at the end of form*/
.tab_text{
     text-align: justify;
     font-size: 11px;
     line-height: 18px;
     letter-spacing: 0.1px;
}


 .preloader{
     width:100%;
     height:100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin: 0 auto 50px; /* Выравнивание по центру */
     align-items:center;
     position: relative;
  }
  /*1 div*/
  .preloader-logo{
      margin: 10px;
      text-align: center;
   }
   /*2 div*/
  .preloader__status{
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
     }
     .preloader__status-text{
        font-size: 30px;
        margin-bottom:20px;
     }
     /*3 div*/
     .preloader__status-loader{
        width: 100%;
        height: 4px;
     }
     .preloader__status-bar{
        background: #149B5F;
        height: 100%;
     }
